<!--Made this html as a testing, please erase when creating the view for this action -->
<div class="container">
  <h2>New clinic</h2>
  <%= simple_form_for @clinic do |f| %>
    <%= f.input :name %>
    <%= f.input :location%>
    <%= f.input :description%>
    <%= f.input :photo, as: :file%>
    <%= f.submit "Create Clinic", class: "btn btn-primary" %>
  <%end%>
</div>