<!--Made this html as a testing, please erase when creating the view for this action -->  
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>	       
<div class="p-3">
	<div class="container">
	  <h1> <%= @clinic.name %></h1>
	  <h4> <%= @clinic.description %></h4>
	  <% if @clinic.photo.attached? %>
			<div class="card m-1" style="height: 300px; background-size: cover; background-image: url('<%= cl_image_path @clinic.photo.key%>');">
			</div>
		<% end %>
	  <p> Specialities:  </p>
	  <ul>
	    <li> <%= @clinic.specialities %> </li>
	  </ul>
	  <%= link_to 'book', new_clinic_booking_path(@clinic), class: 'btn btn-primary m-1' %>
	  </div>
</div>
<div class="container">
  <div class="container">
    <h2 class="p-1"> Reviews: </h2>
  	<%= link_to 'create review', new_clinic_review_path(@clinic), class: 'btn btn-primary' %>
  </div>
  <% if @clinic.reviews.any? %>
    <% @clinic.reviews.each do |review| %>
      <div class="card p-3">
	    <div class="d-flex">
          <% review.rating.times do %>
		    <i class="fas fa-star"></i>
		  <%end%>
		</div>
        <%= review.content %>
      </div>
    <% end %>
  <% end %>
</div>