<!--Made this html as a testing, please erase when creating the view for this action -->  
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>	       
<div class="p-3">
  <div class="container d-flex">
  	<div class='card p-3 sticky-top justify-content-center' style="width: 30%; height:600px">
			<h1 class="text-center p-1" ><%= @clinic.name %></h1>
			<p> <%= @clinic.description %><p>
			<p><strong>Specialities:</strong></p>
			<div class="d-flex tags">
			  <% @clinic.speciality_list.each do |speciality| %>
          <%= link_to "/clinics?query=#{speciality}&commit=Search", class: "linkss" do %>
            <p style="background-color: #80808052"><em> #<%= speciality %> </em></p>
          <% end %>
        <% end %>
			</div>
      <p><strong>Languages:</strong></p>
      <div class="d-flex tags">
        <% @clinic.language_list.each do |language| %>
          <%= link_to "/clinics?query=#{language}&commit=Search", class: "linkss" do %>
            <p style="background-color: #80808052"><em> #<%= language %> </em></p>
          <% end  %>
        <% end %>
      </div>
			<div class="container">
			</div>
			<%= link_to 'Book now!', new_clinic_booking_path(@clinic), class: 'btn btn-primary btn-block m-1' %>
      <% if current_user != nil && current_user.owner %>
			 <%= link_to 'Edit', edit_clinic_path(@clinic), class: 'btn btn-danger btn-block m-1' %>
      <% end %>
		</div>
    <div style="width: 100%">
  	  <div class="card m-1" style="height: 600px; width: 100%; background-size: cover; background-image: url('<%= cl_image_path @clinic.photo.key%>');">
  	  </div>
      <div class="container">
          <h2 class="text-center p-3"> - Reviews - </h2>
          <%= link_to 'Leave a review', new_clinic_review_path(@clinic), class: 'btn btn-outline-secondary m-3' %>
        <% if @clinic.reviews.any? %>
          <% @clinic.reviews.order(id: :desc).each do |review| %>
            <div class="card p-3" style="width:100%">
              <div class="d-flex">
                  <% review.rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
              </div>
              <%= review.content %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="text-center mt-3">- Location -</h2>
  <div id="map"
     style="width: 100%; height: 500px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>