<div class="navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to clinics_path, class: "navbar-brand" do %>
    <p>AIC</p>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <%= image_tag "https://avatars.githubusercontent.com/u/33692745?s=400&u=84c4e3aea3d49f4eabf46376a19718d462834914&v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Create clinic", new_clinic_path, class: "dropdown-item" %>
          <%= link_to "Bookings", bookings_path, class: "dropdown-item" %>
          <%= link_to "Log Out", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>
