<div class="container">
  <h2>New review</h2>
  <%= simple_form_for [@clinic, @review] do |f| %>
    <div class="card">
	    <div class="star-rating">
		    <% 5.times do |i| %>
		      <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
		    <% end %>
		  </div>
		  <div class='mt-4'>
				<%= f.input :content %>
				<%= f.submit "Submit", class: "btn btn-primary" %>
			</div>
		</div>
	<%end%>
</div>